html {
  & {
    &,
    * {
      scrollbar-width: none !important;
      -ms-overflow-style: none !important;

      &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    0deg,
    rgba(227, 209, 255, 1) 19%,
    rgba(227, 209, 255, 1) 51%,
    rgba(165, 164, 255, 1) 80%
  );
}
