/* Webfonts */
@import "./styles/fonts.scss";

/* Tailwind base/components */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Custom Style Imports */
@import "./styles/typography.scss";
@import "./styles/locomotive.scss";

/* Tailwind Utilities */
@import "tailwindcss/utilities";

/* Simple defaults */

body {
  @apply font-sans antialiased;
  foo: bar;
}

.gradient-background {
  background: linear-gradient(to right, #c29ffd, #9a98ff);
  background-size: 300% 300%;
  background-clip: border-box;
}

.background-image {
  top: -230px;
  left: -10px;
  position: absolute;
  z-index: 0;
  background-image: url("./assets/bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
